html{
  font-family: Avenir, sans-serif;
  font-size: large;
}

.card-body{
    display: inline;
    height: 10%;
    width: 10%;
  }
  .social {
    margin-right: 1em;
  }
  .icon{
    right: 15%;
    
  }
  .box{
    /* overflow: hidden; */
    display: inline-block;
    position:static;
    text-align: center;
    margin: 1px;
    padding: 80px 15px;
    width: 20%;
    border-width: 0.2px;
    border-radius: 7px;
    border: solid;
    border-color: rgb(66, 64, 64);
    background-color: white;
  }
  .box:hover{
   box-shadow: 7px rgba(126, 126, 129, 0.863);;
  }
  .box-2{
    background-image: linear-gradient(to right ,#43bad8, #16457E);
    display: inline;
    position:static;
    text-align: center;
    margin: 2px 3px;
    padding: 5% 3%;
    width: 20%;
    border: 0.5px;
    border-radius: 7px;
    border: solid;
    
  }
  .btn{
    border-radius: 30px; 
  }
  #dropdownMenuButton1{
    border-radius: 5px;
    border: none;
  }

  .col{
    margin-right: -5px;
  }
#wd{
  display: inline-block; 
  float: right;
}
#web{
  font-size: 32px;
}
#agreement{
  color: white;
  background-color: aquamarine;
  width:max-content; 
  border-radius: 5px;
  float: right;
}

